# NC, CC DIS data for global fits

In [1]:
import sys,os
import numpy as np
import pylab as py
import pandas as pd

## Notation:

- stat_u:  uncorrlated systematic uncertainty 
- syst_u:  point-by-point uncorrelated systematic uncertainty
- syst_c:  point-by-point correlated systematic uncertainty
- norm_u:  correlated normalization uncertainty

## the available data sets

In [2]:
ls src

ep_NC_optimistic-barak-100920.dat   nuclear_NC_optimistic-barack-102420.out
ep_NC_optimistic-barak-102420.dat   nuclear_NC_pessimistic-barack-102420.out
ep_NC_pessimistic-barak-100920.dat  output_CC_18x275.true-xiaoxuan-100920.dat
ep_NC_pessimistic-barak-102420.dat  xQ2binTable-xiaoxuan-060220.dat

## NC data (optimistic)

In [3]:
L=open('src/ep_NC_optimistic-barak-102420.dat').readlines()
L=[_.strip() for _  in L]
L=[_ for _ in L if '-----' not in _  if _!='']
H=L[0].split()
I=[i for i in range(len(L)) if L[i].startswith('beam')]
I.append(len(L))

DATA={}
for i in range(len(I)-1):
    msg=L[I[i]]
    tab=[[float(v) for v in _.split()] for _ in L[I[i]+1:I[i+1]]]
    tab=np.transpose(tab)
    data={}
    El,Ep=[float(v) for v in msg.split(':')[1].split('x')]
    data['rs']=np.sqrt(4*El*Ep)
    data['x']=tab[0]
    data['Q2']=tab[1]
    data['stat_u(%)']=tab[4]#/np.sqrt(10)
    data['syst_u(%)']=tab[5]
    data['norm_c(%)']=tab[6]
    DATA[msg]=pd.DataFrame(data).query('Q2>1')
data=pd.concat([DATA[msg] for msg in DATA.keys()], ignore_index=True)

#--store data
fname='NC-optimistic'
data.to_excel(fname+'.xlsx')
data.to_json(fname+'.json')

#--print
data

             rs         x      Q2  stat_u(%)  syst_u(%)  norm_c(%)
0    140.712473  0.000129    1.29    0.00682        1.5        2.5
1    140.712473  0.000205    1.29    0.00655        1.5        2.5
2    140.712473  0.000205    2.05    0.00840        1.5        2.5
3    140.712473  0.000325    1.29    0.00647        1.5        2.5
4    140.712473  0.000325    2.05    0.00810        1.5        2.5
..          ...       ...     ...        ...        ...        ...
476   28.635642  0.815000   20.50    0.17600        1.5        2.5
477   28.635642  0.815000   32.50    0.23800        1.5        2.5
478   28.635642  0.815000   51.50    0.29900        1.5        2.5
479   28.635642  0.815000   81.50    0.42700        1.5        2.5
480   28.635642  0.815000  129.00    0.59600        1.5        2.5

[481 rows x 6 columns]

In [4]:
data.rs.unique()

array([140.71247279,  63.2455532 ,  44.72135955,  28.63564213])

## NC data (pessimistic)

In [5]:
L=open('src/ep_NC_pessimistic-barak-102420.dat').readlines()
L=[_.strip() for _  in L]
L=[_ for _ in L if '-----' not in _  if _!='']
H=L[0].split()
I=[i for i in range(len(L)) if L[i].startswith('beam')]
I.append(len(L))

DATA={}
for i in range(len(I)-1):
    msg=L[I[i]]
    tab=[[float(v) for v in _.split()] for _ in L[I[i]+1:I[i+1]]]
    tab=np.transpose(tab)
    data={}
    El,Ep=[float(v) for v in msg.split(':')[1].split('x')]
    data['rs']=np.sqrt(4*El*Ep)
    data['x']=tab[0]
    data['Q2']=tab[1]
    data['stat_u(%)']=tab[4]
    data['syst_u(%)']=tab[5]
    data['norm_c(%)']=tab[6]
    DATA[msg]=pd.DataFrame(data).query('Q2>1')
data=pd.concat([DATA[msg] for msg in DATA.keys()], ignore_index=True)

#--store data
fname='NC-pessimistic'
data.to_excel(fname+'.xlsx')
data.to_json(fname+'.json')

#--print
data

             rs         x      Q2  stat_u(%)  syst_u(%)  norm_c(%)
0    140.712473  0.000129    1.29    0.00682        2.3        4.3
1    140.712473  0.000205    1.29    0.00655        2.3        4.3
2    140.712473  0.000205    2.05    0.00840        2.3        4.3
3    140.712473  0.000325    1.29    0.00647        2.3        4.3
4    140.712473  0.000325    2.05    0.00810        2.3        4.3
..          ...       ...     ...        ...        ...        ...
358   28.635642  0.815000   20.50    0.17600        2.3        4.3
359   28.635642  0.815000   32.50    0.23800        2.3        4.3
360   28.635642  0.815000   51.50    0.29900        2.3        4.3
361   28.635642  0.815000   81.50    0.42700        2.3        4.3
362   28.635642  0.815000  129.00    0.59600        2.3        4.3

[363 rows x 6 columns]

## CC  data (pessimistic)

In [28]:
L=open('src/output_CC_18x275.true-xiaoxuan-100920.dat').readlines()
L=[_.strip() for _  in L]
L=[_ for _ in L if _!='']
#L[1]=L[1].replace('10','100')
for _ in L[:4]: print(_)
H=L[5].split()
tab=np.transpose([[float(v) for v in  _.split()] for _ in L[6:]])
stat=tab[3]/tab[2]*100#/np.sqrt(10)
syst=tab[4]/tab[2]*100
data={}
data['rs']=np.ones(tab[0].size)*float(L[1].split(',')[1].split('=')[1])
data['x']=tab[1]
data['Q2']=tab[0]
data['stat_u(%)']=tab[3]/tab[2]*100
data['syst_c(%)']=2*np.ones(tab[1].size)
data['norm_c(%)']=5.8*np.ones(tab[1].size)
data=pd.DataFrame(data)

#--save file
fname='CC-pessimistic'
data.to_excel(fname+'.xlsx')

#--print
data

!*  EIC simulated unpolarized Rad=0 CC data at true level from Xiaoxuan Chu
!*  L = 10 fb^-1, sqrt(S) =140.71247, sys uncertainty = 0.03 * sigma
!*  Created on 200420
Reaction = CC e-p

           rs         x      Q2  stat_u(%)  syst_c(%)  norm_c(%)
0   140.71247  0.006783   110.0   4.714048        2.0        5.8
1   140.71247  0.009582   110.0   4.287466        2.0        5.8
2   140.71247  0.013535   110.0   4.381089        2.0        5.8
3   140.71247  0.019118   110.0   4.275698        2.0        5.8
4   140.71247  0.027005   110.0   4.311297        2.0        5.8
..        ...       ...     ...        ...        ...        ...
84  140.71247  0.604567  5000.0   8.362414        2.0        5.8
85  140.71247  0.853973  5000.0  50.000000        2.0        5.8
86  140.71247  0.428000  9000.0   8.164961        2.0        5.8
87  140.71247  0.604567  9000.0   5.109766        2.0        5.8
88  140.71247  0.853973  9000.0  21.821808        2.0        5.8

[89 rows x 6 columns]

## CC  data (optimistic)

In [27]:
L=open('src/output_CC_18x275.true-xiaoxuan-100920.dat').readlines()
L=[_.strip() for _  in L]
L=[_ for _ in L if _!='']
#L[1]=L[1].replace('10','100')
for _ in L[:4]: print(_)
H=L[5].split()
tab=np.transpose([[float(v) for v in  _.split()] for _ in L[6:]])
stat=tab[3]/tab[2]*100#/np.sqrt(10)
syst=tab[4]/tab[2]*100
data={}
data['rs']=np.ones(tab[0].size)*float(L[1].split(',')[1].split('=')[1])
data['x']=tab[1]
data['Q2']=tab[0]
data['stat_u(%)']=tab[3]/tab[2]*100
data['syst_c(%)']=2*np.ones(tab[1].size)
data['norm_c(%)']=2.3*np.ones(tab[1].size)
data=pd.DataFrame(data)

#--save file
fname='CC-optimistic'
data.to_excel(fname+'.xlsx')

#--print
data

!*  EIC simulated unpolarized Rad=0 CC data at true level from Xiaoxuan Chu
!*  L = 10 fb^-1, sqrt(S) =140.71247, sys uncertainty = 0.03 * sigma
!*  Created on 200420
Reaction = CC e-p

           rs         x      Q2  stat_u(%)  syst_c(%)  norm_c(%)
0   140.71247  0.006783   110.0   4.714048        2.0        2.3
1   140.71247  0.009582   110.0   4.287466        2.0        2.3
2   140.71247  0.013535   110.0   4.381089        2.0        2.3
3   140.71247  0.019118   110.0   4.275698        2.0        2.3
4   140.71247  0.027005   110.0   4.311297        2.0        2.3
..        ...       ...     ...        ...        ...        ...
84  140.71247  0.604567  5000.0   8.362414        2.0        2.3
85  140.71247  0.853973  5000.0  50.000000        2.0        2.3
86  140.71247  0.428000  9000.0   8.164961        2.0        2.3
87  140.71247  0.604567  9000.0   5.109766        2.0        2.3
88  140.71247  0.853973  9000.0  21.821808        2.0        2.3

[89 rows x 6 columns]